.comment{}

.userIcon{
    text-align: center;
    padding-top: 15px;
    border: 1px rgb(154, 152, 163) solid;
    border-radius: 50%;
}

.user-name{
    margin-right: 5px;
    font-weight: bold;
  }