<ion-header class="ion-no-border">
  <ion-toolbar>
    <h1 class="title">Instagram</h1>
    <!-- <ion-buttons>
      <ion-button>
        <ion-title>Instragram</ion-title>
      </ion-button>
    </ion-buttons> -->

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-no-padding">
    <ion-item class="ion-no-padding" *ngFor="let post of postsList">
      <app-post (share)="openShareActionSheet($event)" [postData]=post></app-post>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll  threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
